<html>
    <body>
        <form name="form1" method="GET" action="/connect?psu_type=retail">
            <button type="submit">Connect RETAIL</button>
        </form>
        <form name="form1" method="GET" action="/connect?psu_type=corpo">
            <button type="submit">Connect CORPO</button>
        </form>
    </body>
</html>